<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1> Reactive form example</h1>
        </div>
    </div>
   <div class="row">
        <div class="col-md-12">
            <h2>form</h2>
           <form [formGroup]="form">
              <label for="uname">UserName:</label>
              <input type="text" formControlName="username">
              <span *ngIf="u.username.touched && u.username.errors?.['required']">username is mandatory</span>
              <span *ngIf="u.username.touched && u.username.errors?.['pattern']">
                <ul>
                 <li>it should be range of a-z</li>
                 <li>it should be range of A-Z</li>
                 <li>it should be range of 0-9</li>
                </ul></span>
                <span *ngIf="u.username.touched && u.username.errors?.['minlength']">length should be min 3</span>
                <hr/>
                <label for="pwd">Password:</label>
              <input type="text" formControlName="password">
              <span *ngIf="p.password.touched && p.password.errors?.['required']">username is mandatory</span>
              <span *ngIf="p.password.touched && p.password.errors?.['pattern']">
                <ul>
                 <li>it should be range of a-z</li>
                 <li>it should be range of A-Z</li>
                 <li>it should be range of 0-9</li>
                </ul></span>
                <span *ngIf="p.password.touched && p.password.errors?.['minlength']">length should be min 6</span>
                <input type="button" value="login" (click)="login()"/>
            </form>
        </div>
   </div>
</div>